<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробности сотрудника</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Подробности сотрудника</h2>

    <div class="card">
        <img th:src="${employee.photoURL}" alt="Фото" class="card-img-top" style="max-height: 300px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title text-center" th:text="${employee.firstName + ' ' + employee.lastName}"></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Дата рождения: <span th:text="${employee.birthDate}"></span></li>
                <li class="list-group-item">Номер телефона: <span th:text="${employee.phoneNumber}"></span></li>
                <li class="list-group-item">Email: <span th:text="${employee.email}"></span></li>
            </ul>
        </div>

        <div class="card-footer">
            <a th:href="@{/employee/list}" class="btn btn-secondary btn-block">Вернуться к списку сотрудников</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
