<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Employee profile</h2>

    <div class="card">
        <img th:src="'data:image/jpeg;base64,' + ${photoBase64}" alt="Фото" class="card-img-top"
             style="width: 30%; height:30%; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title text-center" th:text="${employee.firstName + ' ' + employee.lastName}"></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date of Birth: <span th:text="${employee.birthDate}"></span></li>
                <li class="list-group-item">Phone#: <span th:text="${employee.phoneNumber}"></span></li>
                <li class="list-group-item">Email: <span th:text="${employee.email}"></span></li>
            </ul>
        </div>

        <div class="card-footer">
            <a th:href="@{/employee}" class="btn btn-secondary btn-block">Back</a>
            <a th:href="@{/employee/edit/{id}(id=${employee.employeeId})}" class="btn btn-primary btn-block">Edit
                profile</a>
            <!-- Изменена ссылка для отправки запроса на удаление сотрудника -->
            <a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}" class="btn btn-danger btn-block"
               onclick="return confirm('Вы уверены, что хотите удалить сотрудника?')">Delete</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
